html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  color: #dddddd;
  background: #dddddd;
  background-image: var(--gradient);
  background-size: 400%;
  animation: fondo-anim 20s infinite alternate;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  background-color: #dddddd;
  font-family: "Encode Sans Condensed", sans-serif;
}
@keyframes fondo-anim {
  0% {
    background-position: left;
  } /*por defecto*/
  100% {
    background-position: right;
  }
}