
html {
    line-height: 1rem;
    font-size: 1rem;
    padding: 0;
    margin-top: 0.5rem;
}



main {
  display: block;
}



h1 {
  font-size: 2em;
  margin: 0.67em 0;
}


*,
*::after,
*::before {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  display: block;
}

ul {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

:root {
  --principal: #41519F;
}

:root {
  --secundary: #2A3554;
}



body {
  font-family: sans-serif;
  color: var(--principal);
  margin: 0;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  font-family: "Encode Sans Condensed", sans-serif;
  border: 1px solid #41519F;
}

.hide {
  display: none;
}


:root {
  --navbar-height: 48px;
}


.header__up{
  background-color: var(--principal);
  margin-top: -2rem;
  padding-top: 1.5rem;
  height: 4rem;
  display: flex;
  align-items: baseline;
  justify-content: center;
  height: 4rem;
  z-index: 100;
  position: fixed;
  width: 100%;
  max-width: 1440px;
}
.header__up-name{
color: white;
font-size: 4rem;
font-weight: 700;
  
}

.header {
  margin-top: 3.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-direction: row;
  background-color: #41519F;
  color: white;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;
  padding-top: 0.5rem;
  max-width: 1440px;
  }

.menu__wrapper {
  display: flex;
  position: relative;
  flex-direction: row;
  padding-top: 2rem;
}

.menu__bar {
  position: fixed;
  width: 500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 0 16px;
  gap: 32px;
  height: 60px;
  opacity: 0.9;

}

.menu-icon {
  cursor: pointer;
  display: flex;
  height: 32px;
  width: 32px;
}

.navigation {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  align-items: center;
  gap: 2rem;
  padding: 4.5rem;
}

.navigation>li {
  display: flex;
  position: relative;
  cursor: pointer;
  font-size: 1.25rem;
}

.navigation>li>a {
  color: white;
  border-bottom: 2px solid transparent;
  transition: all 0.3s ease;
  text-decoration: none;
  font-weight: 500;
  background-image: linear-gradient(to right,
          var(--secundary),
          var(--secundary) 50%,
          white 50%);
  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block;
  padding: 3px 0;
  position: relative;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.2s ease-in-out;
}

.navigation>li>a:before {
  content: '';
  background: var(--secundary);
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  transition: all 0.2s ease-in-out;
}

.navigation>li>a:hover {
  background-position: 0;
}

.navigation>li>a:hover::before {
  width: 100%;
}

@media (min-width: 600px) {
  .menu-icon {
      display: none;
  }
}

@media (max-width: 600px) {

  .navigation {
      display: none;
  }

  .menu-icon {
      display: block;
  }

  .navigation--mobile {
      top: 48px;
      position: absolute;
      right: 0px;
      display: flex;
      padding: 80px 60px;
      min-height: 100%;
      background-color: var(--principal);
      gap: 8px;
      flex-direction: column;
      align-items: flex-start;
      opacity: 0.95;
      animation: fadein 0.3s forwards;
  }

  @keyframes fadein {
      0% {
          opacity: 0;
          width: 0;
          height: 0;
      }

      100% {
          opacity: 1;
          width: 100%;
          height: calc(100vh - var(--navbar-height));
      }
  }

  .navigation--mobile--fadeout {
      animation: fadeout 300ms forwards;
  }

  @keyframes fadeout {
      0% {
          opacity: 1;
          width: 100%;
          height: calc(100vh - var(--navbar-height));
      }

      100% {
          opacity: 0;
          width: 0;
          height: 0;
      }
  }

}


.header__start {
  display: flex;
  flex-direction: row;
  padding: 1rem;
  color: white;
  gap: 1rem;
  align-items: center;
  }

.header__name {
  font-size: 3rem;
  font-weight: 700;
  color: var(--principal);
  cursor: pointer;
  }



  .header__logos {
    font-weight: 900;
    font-size: 2rem;
    color: white;
    display: flex;
    cursor: pointer;
    margin-right: 5rem;
    margin-top: 2rem;

  }
  
  
  .header__logos img {
    color: white;
    max-width: 1.5rem;
    max-height: 1.5rem;
    margin-right: 1rem;
    cursor: pointer;
    margin-top: 1rem;
      }
  
  .submenu {
    display: none;
  }
  
  .submenu.show {
    position: absolute;
    margin-top: 4rem;
    margin-left: -4rem;
    height: 6rem;
    width: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 2rem;
    padding: 1rem;
    border: 1px solid white;
    border-radius: 5px;
    background-color: var(--principal);
  }


.principal {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 8rem;
  margin-bottom: 5rem;
}

.principal__news{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 5rem;
  margin-top: 3rem;
  margin-bottom: 1rem;
  max-width: 90%;
  height: 500px;
  margin-left: -1.5rem;
}

@media (max-width: 1350px) {
  .principal__news{
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 100%;
    margin-bottom: 1rem;
    max-width: 100%;
    height: 500px;
    margin:0;
    margin-left: -2rem;
    margin-top: 3rem;
  }
}

@media (max-width: 1200px) {
  .principal__news{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    margin-bottom: 1rem;
    max-width: 100%;
    height: 1600px;
    margin:0;
    margin-top: 3rem;
    gap: 2rem;
    margin-left: -2rem;
  }
}


.article{
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 2px;
  border: 1px solid var(--principal);
  height: 450px;
  margin-left: 2rem;
}

@media (max-width: 600px) {
  .article{
    max-width: 450px;
    height: 500px;
  }
}


.article__img{
  max-width: 240px;
  height: 100%;
}
.article__info{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1rem;
  padding-top: 0.5rem;
  width: 260px;


}

.article__info h2{
  font-size: 1.35rem;
  line-height: normal;
  font-weight: 700;
  margin-bottom: 0.5rem;
  cursor: pointer;
}

.article__info p{
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 1.5rem;
  color: var(--secundary);
  text-align:inherit;
}

.article__info a{
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 0rem;
  color: var(--principal);
  cursor: pointer;
  text-decoration: underline;

}

.autor{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 2rem;
}

.principal__sale {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 300px;
  background-image: url('marx2.jpeg');
  background-size: cover; 
  background-position: center; 
  background-color: #2a3554;
}

.principal__sale h2 {
  font-size: 3rem;
  font-style: italic;
  font-weight: 700;
  margin-top: 7rem;
  margin-bottom: 3rem;
  color: white  ;
}

@media (max-width: 1200px) {
  .principal__sale h2 {
    font-size: 2rem;
    font-style: italic;
    font-weight: 600;
    line-height: normal;
    display: flex;
    text-align: center;
    text-justify: center;
  }
}

.button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: var(--principal);
  color: white;
  border-radius: 2px;
  width: 250px;
  height: 40px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  margin-top: 1rem;
  margin-bottom: 1rem;
  gap: 2rem;
  border-radius: 1.5rem;
  border: 0.5px solid var(--secundary);
  text-decoration: none; 
}

.button:hover {
  background-color: #2a3554;
}

.button img {
  width: 1.5rem;
  height: 1.5rem;
}

.principal__articles{
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  margin-bottom: 5rem;
  width: 90%;
}
.principal__articles__title{
  align-items: flex-start;
  justify-content: left;
  text-align: left;
  padding-left: 2rem;
  font-size: 1rem;
  font-weight: 600;
  color: var(--principal);
  cursor: pointer;
}

.principal__articles__line{  
  align-items: flex-start;
  justify-content: left;
  text-align: left;
  margin-left: 2rem;
  margin-bottom: 2rem;
  color: var(--principal);
  border-bottom: 1px solid var(--principal);
  width: 20%;
}


.principal__articles__container{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 2rem;
  gap: 2rem;
  margin-left: 2rem;
  margin-right: 2rem;
}

@media (max-width: 1200px) {
  .principal__articles__container{
    flex-direction: column;
  }
}
.subarticle{
  display: flex;
  flex-direction: column;
  width: 385px;
  height: 385px;
  border-radius: 2px;
  border: 1px solid var(--principal);
}
.subarticle__text{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 2rem;
  padding-right: 2rem;;
  padding-top: 0.5rem;
  height: 100%;
}
.subarticle__title{
  font-size: 1.35rem;
  line-height: normal;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.subarticle__title h3{
  cursor: pointer;
}

.subarticle__text p{
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 1.5rem;
  color: var(--secundary);
  text-align:inherit;
}

.subarticle__img{
  height: 194px;
}

.principal__articles__more{
  align-items: flex-end;
  justify-content: right;
  text-align: right;
  margin-top: -1.5rem;
  padding-right: 2.5rem;
  font-size: 1rem;
  font-weight: 600;
  color: var(--principal);
  cursor: pointer;

}
.principal__articles__underline{
  align-items: flex-end;
  justify-content: right;
  text-align: right;
  padding-right: 2.5rem;
  margin-left: 80%;
  margin-bottom: 0rem;
  color: var(--principal);
  border-bottom: 1px solid var(--principal);
  width: 20%;
}

.principal__collections{
  display: flex;
  flex-direction: column;
  margin-top: -1.5rem;
  padding-bottom: 2rem;
  width: 100%;
  background-color: var(--principal);
}



.principal__collections__title{
  align-items: flex-start;
  justify-content: left;
  text-align: left;
  padding-top: 2rem;
  padding-left: 7rem;
  font-size: 1rem;
  font-weight: 600;
  color: white;
  cursor: pointer;

}

.principal__collections__container{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 2rem;
  gap: 2rem;
  margin-left: 7rem;
  margin-right: 7rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

@media (max-width: 1200px) {
  .principal__collections__container{
    flex-direction: column;
  }
}
.collection{
  display: flex;
  flex-direction: column;
  width: 385px;
  height: 385px;
  border-radius: 2px;
  border: 1px solid white;
}
.collection__text{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  line-height: normal;
  padding-left: 2rem;
  padding-right: 2rem;;
  padding-top: 0.5rem;
  height: 194px;
  color: white;
}
.collection__img{
  height: 194px;
}


.footer{
  padding: 7rem;
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--principal);
  width: 100%;
  margin-bottom: -7rem;
  margin-top: -5rem;
}
.footer__about{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 1rem;
}

@media (max-width: 600px) {
  .footer__about{
    flex-direction: column;
    margin-bottom: 2rem;
  }
}

.footer__about h3{
  font-size: 2rem;
  font-weight: 600;
  color: var(--principal);
  cursor: pointer;

}
.footer__redes{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}
.footer__redes img{
  width: 1.6rem;
  height: 1.5rem;
}

.footer__line{
  align-items: flex-start;
  justify-content: left;
  text-align: left;
  margin-bottom: 2rem;
  color: var(--principal);
  border-bottom: 1px solid var(--principal);
  width: 20%;
}
.footer__text{
  color: var(--secundary);
}
.footer__us{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media (max-width: 600px) {
  .footer__us{
    flex-direction: column;
    align-items:flex-end;
    justify-content: flex-end;
  }
}
.footer__final{
  background-color: var(--principal);
  margin-top: 2rem;
  margin-left: -7rem;
  margin-right: -7rem;

}
.footer__name{
  color: white;
  font-size: 1rem;
  font-weight: normal;
  justify-content: center;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}