
html {
    line-height: 1rem;
    font-size: 1rem;
    padding: 0;
    margin-top: 0.5rem;
}



main {
  display: block;
}



h1 {
  font-size: 2em;
  margin: 0.67em 0;
}


*,
*::after,
*::before {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  display: block;
}

ul {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

:root {
  --principal: #41519F;
}

:root {
  --secundary: #2A3554;
}



body {
  font-family: sans-serif;
  color: var(--principal);
  margin: 0;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  font-family: "Encode Sans Condensed", sans-serif;
  border: 1px solid #41519F;
}

.hide {
  display: none;
}


:root {
  --navbar-height: 48px;
}


.header {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  justify-content: space-between;
  background-color: #41519F;
  color: white;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;
  padding-top: 0.5rem;
  max-width: 1440px;
  }

  @media (max-width: 600px) {
    .header{
      padding: 0.5rem;
    }
  }

  .header__up{
    background-color: var(--principal);
    display: flex;
    justify-content: center;
    z-index: 100;
    width: 100%;
    max-width: 1440px;
  }
  @media (max-width: 600px) {
    .header__up{
      width: 70%;
      justify-content: flex-start;
      max-width: 300px;
    }
  }


  .header__up-name{
  color: white;
  font-size: 4rem;
  font-weight: 700;
  }
  
  @media (max-width: 500px) {
    .header__up-name{
      font-size: 2.2rem;
    }
  }

.menu__wrapper {
  padding-top: 2rem;
  display: flex;
  flex-direction: row;
}

@media (max-width: 600px) {
  .menu__wrapper{
    padding-top: 0.3rem;
  }
}

.menu__bar {
  position: fixed;
  width: 70%;
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 0 16px;
  gap: 32px;
  height: 60px;
  opacity: 0.9;
}

@media (max-width: 600px) {
  .menu__bar{
    width: 100%;
    margin-left: -1rem;
  }
}


.menu-icon {
  cursor: pointer;
  display: flex;
  height: 32px;
  width: 32px;
}

@media (max-width: 600px) {
  .menu-icon{
    margin-left: 1rem;
  }
}

.navigation {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  align-items: center;
  gap: 2rem;
  padding: 4.5rem;
}


.navigation>li {
  display: flex;
  position: relative;
  cursor: pointer;
  font-size: 1.25rem;
}

.navigation>li>a {
  color: white;
  border-bottom: 2px solid transparent;
  transition: all 0.3s ease;
  text-decoration: none;
  font-weight: 500;
  background-image: linear-gradient(to right,
          var(--secundary),
          var(--secundary) 50%,
          white 50%);
  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block;
  padding: 3px 0;
  position: relative;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.2s ease-in-out;    
}

.navigation>li>a:before {
  content: '';
  background: var(--secundary);
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  transition: all 0.2s ease-in-out;
}

.navigation>li>a:hover {
  background-position: 0;
}

.navigation>li>a:hover::before {
  width: 100%;
}

@media (min-width: 600px) {
  .menu-icon {
      display: none;
  }
}

@media (max-width: 600px) {

  .navigation {
      display: none;
  }

  .menu-icon {
      display: block;
  }

  .navigation--mobile {
      top: 48px;
      position: absolute;
      right: 0px;
      display: flex;
      min-height: 100%;
      background-color: var(--principal);
      gap: 8px;
      flex-direction: column;
      align-items: flex-start;
      opacity: 0.95;
      animation: fadein 0.3s forwards;
  }

  @keyframes fadein {
      0% {
          opacity: 0;
          width: 0;
          height: 0;
      }

      100% {
          opacity: 1;
          width: 100%;
          height: calc(100vh - var(--navbar-height));
      }
  }

  .navigation--mobile--fadeout {
      animation: fadeout 300ms forwards;
  }

  @keyframes fadeout {
      0% {
          opacity: 1;
          width: 100%;
          height: calc(100vh - var(--navbar-height));
      }

      100% {
          opacity: 0;
          width: 0;
          height: 0;
      }
  }

}


.header__name {
  font-size: 3rem;
  font-weight: 700;
  color: var(--principal);
  cursor: pointer;
  }



  .header__logos {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    font-weight: 900;
    font-size: 2rem;
    color: white;
    display: flex;
    cursor: pointer;
    padding-right: 5rem;
    padding-top: 2rem;
  }

  @media (max-width: 600px) {
    .header__logos{
      display: none;
    }
  }
  
  
  .header__logos img {
    color: white;
    max-width: 1.5rem;
    max-height: 1.5rem;
    cursor: pointer;
    margin-top: 1rem;
      }
  
  .submenu {
    display: none;
  }
  
  .submenu.show {
    position: absolute;
    margin-top: 3.5rem;
    margin-left: 13rem;
    width: 14rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 2rem;
    padding: 1rem;
    border: 1px solid white;
    border-radius: 5px;
    background-color: var(--principal);
  }

  .submenu {
    visibility: hidden;
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 0.3s ease, transform 0.3s ease, visibility 0s linear 0.3s; 
  }
 
  .submenu.show {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
    transition: opacity 0.3s ease, transform 0.3s ease, visibility 0s; 
  }

  .submenu__login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .submenu__pedidos{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: var(--principal);
    color: white;
    border-radius: 2px;
    width: 140px;
    height: 30px;
    font-size: 1.15rem;
    font-weight: 600;
    cursor: pointer;
    gap: 2rem;
    border-radius: 1.5rem;
    border: 0.5px solid var(--secundary);
    text-decoration: none;
  }

  .submenu__pedidos:hover {
    background-color: #2a3554;
  }


.principal {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4rem;
  margin-bottom: 5rem;
}

.principal__news{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 5rem;
  margin-top: 3rem;
  margin-bottom: 1rem;
  max-width: 90%;
  height: 500px;
  margin-left: -1.5rem;
}

@media (max-width: 1350px) {
  .principal__news{
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 100%;
    margin-bottom: 1rem;
    height: 500px;
    margin:0;
    margin-left: -2rem;
    margin-top: 3rem;
  }
}

@media (max-width: 1200px) {
  .principal__news{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    margin-bottom: 1rem;
    height: 1200px;
    margin:0;
    margin-top: 3rem;
    gap: 2rem;
    margin-left: -2rem;
  }
}


.article{
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 2px;
  border: 1px solid var(--principal);
  height: 450px;
  margin-left: 2rem;
  transition: transform 0.3s;
  object-fit: cover; 
}

.article:hover {
  transform: scale(1.03);
}


@media (max-width: 450px) {
  .article{
    max-width: 350px;
    height: 370px;
  }
}


.article__img{
  max-width: 240px;
  height: 100%;
}
@media (max-width: 450px) {
  .article__img{
    max-width: 170px;
    height: 370px;
  }
}


.article__info{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1rem;
  padding-top: 0.5rem;
  width: 260px;
}

@media (max-width: 450px) {
  .article__info {
    padding: 0.5rem;
    padding-top: 0.5rem;
    font-size: 0.9rem;
  }
}

.article__info p{
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 1.5rem;
  color: var(--secundary);
  text-align:inherit;
}

@media (max-width: 450px) {
  .article__info p{
    font-size: 0.8rem;
    font-weight: 300;
    margin-bottom: 0rem;
  }
}

.article__info a{
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 0rem;
  color: var(--principal);
  cursor: pointer;
  text-decoration: underline;
}

@media (max-width: 450px) {
  .article__info a {
    font-size: 0.9rem;
  }
}

.autor{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 2rem;
}

.article__link{
  font-size: 2rem;
  line-height: normal;
  font-weight: 700;
  margin-bottom: 0.5rem;
  cursor: pointer;
  margin-top: 1.5rem;
}

.subarticle__link{
  font-size: 1rem;
  line-height: normal;
  font-weight: 500;
  margin-bottom: 1rem;
  cursor: pointer;
  text-decoration: underline;
}

.principal__sale {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 300px;
  background-image: url('marx2.jpeg');
  background-size: cover; 
  background-position: center; 
  background-color: #2a3554;
}

@media (max-width: 450px) {
  .principal__sale {
    height: 340px;

  }
}

.principal__sale h2 {
  font-size: 3rem;
  font-style: italic;
  font-weight: 700;
  margin-top: 7rem;
  margin-bottom: 3rem;
  color: white  ;
}

@media (max-width: 1200px) {
  .principal__sale h2 {
    font-size: 2rem;
    font-style: italic;
    font-weight: 600;
    line-height: normal;
    display: flex;
    text-align: center;
    text-justify: center;
  }
}

.button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: var(--principal);
  color: white;
  border-radius: 2px;
  width: 250px;
  height: 40px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  margin-top: 1rem;
  margin-bottom: 1rem;
  gap: 2rem;
  border-radius: 1.5rem;
  border: 0.5px solid var(--secundary);
  text-decoration: none;
  transition: transform 0.3s;
  object-fit: cover; 
}

.button:hover {
  transform: scale(1.05);
}


.button:hover {
  background-color: #2a3554;
}

.button img {
  width: 1.5rem;
  height: 1.5rem;
}

.principal__articles{
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  width: 90%;
}
.principal__articles__title{
  align-items: flex-start;
  justify-content: left;
  text-align: left;
  padding-left: 2rem;
  font-size: 1rem;
  font-weight: 600;
  color: var(--principal);
  cursor: pointer;
}

.principal__articles__line{  
  align-items: flex-start;
  justify-content: left;
  text-align: left;
  margin-left: 2rem;
  margin-bottom: 2rem;
  color: var(--principal);
  border-bottom: 1px solid var(--principal);
  width: 20%;
}


.principal__articles__container{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 2rem;
  gap: 2rem;
  margin-left: 2rem;
  margin-right: 2rem;
}

@media (max-width: 1200px) {
  .principal__articles__container{
    flex-direction: column;
  }
}
.subarticle{
  display: flex;
  flex-direction: column;
  width: 385px;
  height: 385px;
  border-radius: 2px;
  border: 1px solid var(--principal);
  transition: transform 0.3s;
  object-fit: cover; 
}

@media (max-width: 600px) {
  .subarticle{
    max-width: 360px;

  }
}

.subarticle:hover {
  transform: scale(1.03);
}

.subarticle__text{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 2rem;
  padding-right: 2rem;;
  padding-top: 0.5rem;
  height: 100%;
}
.subarticle__title{
  font-size: 1.15rem;
  line-height: normal;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.subarticle__text p{
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 1.5rem;
  color: var(--secundary);
  text-align:inherit;
}

.subarticle__img{
  height: 194px;
}

.principal__articles__more{
  align-items: flex-end;
  justify-content: right;
  text-align: right;
  margin-top: -1.5rem;
  padding-right: 2.5rem;
  font-size: 1rem;
  font-weight: 600;
  color: var(--principal);
  cursor: pointer;

}
.principal__articles__underline{
  align-items: flex-end;
  justify-content: right;
  text-align: right;
  padding-right: 2.5rem;
  margin-left: 80%;
  margin-bottom: 0rem;
  color: var(--principal);
  border-bottom: 1px solid var(--principal);
  width: 20%;
}

.principal__collections{
  display: flex;
  flex-direction: column;
  margin-top: -1.5rem;
  width: 100%;
  background-color: white;
}



.principal__collections__title{
  align-items: flex-start;
  justify-content: left;
  text-align: left;
  padding-top: 2rem;
  padding-left: 7rem;
  font-size: 1rem;
  font-weight: 600;
  color: white;
  cursor: pointer;

}

.principal__collections__container{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 2rem;
  gap: 2rem;
  margin-left: 7rem;
  margin-right: 7rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

@media (max-width: 1200px) {
  .principal__collections__container{
    flex-direction: column;
  }
}

.articulo__container{
  display: flex;
  flex-direction: column;
  margin-bottom: 8rem;
  margin-left: 7rem;
  margin-right: 7rem;
  margin-top: 11rem;
}

@media (max-width: 600px) {
  .articulo__container{
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    margin-top: 6rem;
  }
}

.articulo__container img{
  width: 100%;
  max-width: 750px;
  border-radius: 2px;
  border: 1px solid var(--principal);
  display: block;
  margin-left: auto;
  margin-right: auto; 
}

.articulo__container h1{
  font-size: 2rem;
  font-weight: 700;
  margin-top: 2rem;
  margin-bottom: rem;
  color: var(--principal);
  line-height: normal;
}

.articulo__container p{
  font-size: 1.25rem;
  line-height: 1.3rem;
  font-weight: 400;
  color: var(--secundary);
  text-align:justify;
  margin-bottom: 0.5rem;
}

.articulo__line{
  align-items: flex-start;
  justify-content: left;
  text-align: left;
  margin-top: 2rem;
  margin-bottom: 2rem;
  color: var(--principal);
  border-bottom: 1px solid var(--principal);
  width: 20%;
}

.articulo__composicion{
  display: flex;
  flex-direction: row;
  gap: 3rem;
}

.articulo__composicion-reverso{
  display: flex;
  flex-direction: row-reverse;
  gap: 3rem;
}

.articulo__text{
  margin-top: 1rem;
  font-size: 2.5rem;
  line-height: 2.5rem;
  font-weight: 400;
  color: var(--principal);
  text-align:left;
  margin-bottom: 0.5rem;
  width: 36%;
}

@media (max-width: 500px) {
  .articulo__text{
    display: none;
  }
}

.articulo__text-reverso{
  margin-top: 1rem;
  font-size: 2.5rem;
  line-height: 2.5rem;
  font-weight: 400;
  color: var(--principal);
  text-align:right;
  margin-bottom: 0.5rem;
  width: 36%;
}

@media (max-width: 500px) {
  .articulo__text-reverso{
    display: none;
  }
}

.articulo__normal-text{
  font-size: 1rem;
  font-weight: 400;
  color: var(--secundary);
  text-align:justify;
  margin-bottom: 0.5rem;
  width: 66%;
}

@media (max-width: 500px) {
  .articulo__normal-text{
    width: 100%;
  }
}


.collection{
  display: flex;
  flex-direction: column;
  width: 385px;
  height: 385px;
  border-radius: 2px;
  border: 1px solid white;
  transition: transform 0.3s;
  object-fit: cover; 
}


@media (max-width: 600px) {
  .collection{
    max-width: 360px;
  }
}

.collection:hover {
  transform: scale(1.03);
}

.collection__text{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  line-height: normal;
  padding-left: 2rem;
  padding-right: 2rem;;
  padding-top: 0.5rem;
  height: 194px;
  color: white;
}


.collection-white{
  display: flex;
  flex-direction: column;
  width: 385px;
  height: 385px;
  border-radius: 2px;
  border: 1px solid var(--principal);
  transition: transform 0.3s;
  object-fit: cover; 
  background-color: white;
}

@media (max-width: 385px) {
  .collection-white{
    width: 335px;
    height: 335px;
  }
}

.collection-white:hover {
  transform: scale(1.03);
}

.collection__text-white{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  line-height: normal;
  padding-left: 2rem;
  padding-right: 2rem;;
  padding-top: 0.5rem;
  height: 194px;
  color: var(--principal);
}

.collection__img{
  height: 194px;
}

.collection__link{
  font-size: 1.5rem;
  font-weight: 600;
}


.shop__collection-details{
  display: flex;
  flex-direction: column;
  width: 60%;
  padding-left: 5rem;
  color: var(--secundary);
  gap: 2rem;
}

@media (max-width: 1150px) {
  .shop__collection-details{
    width: 100%;
    padding: 0rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    align-items:center;
  }
}


.shop__collection-description{
  font-size: 1rem;
  font-weight: 400;
  color: var(--secundary);
  text-align:justify;
  margin-bottom: 0.5rem;
  width: 80%;
}
.shop__collection-price{
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--principal);
  text-align:justify;
  margin-bottom: 0.5rem;
  width: 80%;
}
.shop__collection-button{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: var(--principal);
  color: white;
  border-radius: 2px;
  width: 250px;
  height: 40px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  gap: 2rem;
  border-radius: 1.5rem;
  border: 0.5px solid var(--secundary);
  text-decoration: none;
  transition: transform 0.3s;
  object-fit: cover; 
}

.shop__collection-button:hover {
  transform: scale(1.05);
}


.shop__principal{  
  margin: 0rem;
  margin-top: -5rem;
}

.shop__collection{
  display: flex;
  flex-direction: column;
  margin-top: -12rem;
  margin-bottom: -8rem;
}



.tienda__collection{
  display: flex;
  flex-direction: column;
  margin: 0rem;

}
.shop__collection-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 3rem;
  border: 1px solid var(--principal);
  border-left: none;
}

@media (max-width: 1150px) {
  .shop__collection-container{
    flex-direction: column;
    align-items:center;
    border-left: 1px solid var(--principal);
    border-top: none;
    max-width: 385px;
  }
}

.librerias__container{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.librerias__container__text{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--secundary);
}
.librerias__container__text__title{
  font-size: 2rem;
  font-weight: 600;
  color: var(--principal);
  justify-content: center;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.librerias__container__text__paragraph {
  font-size: 1rem;
  font-weight: 400;
  color: var(--secundary);
  text-align:center;
  margin-bottom: 0.5rem;
  width: 80%;
}
.librerias__list{
  list-style-type:circle;
  padding-left: 1rem;
  display: flex;
  flex-direction:column;
  margin-bottom: 2rem;
  gap: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}


.footer{
  padding: 7rem;
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--principal);
  width: 100%;
  margin-bottom: 7rem;
  margin-top: -5rem;
}

@media (max-width:450px) {
  .footer{
    padding: 1.5rem;
    align-items: center;
  }
}


.footer__about{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 1rem;
}

@media (max-width: 600px) {
  .footer__about{
    flex-direction: column;
    margin-bottom: 2rem;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
}

.footer__about h3{
  font-size: 2rem;
  font-weight: 600;
  color: var(--principal);
  cursor: pointer;

}
.footer__redes{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}
.footer__redes img{
  width: 1.6rem;
  height: 1.5rem;
}

.footer__line{
  align-items: flex-start;
  justify-content: left;
  text-align: left;
  margin-bottom: 2rem;
  color: var(--principal);
  border-bottom: 1px solid var(--principal);
  width: 20%;
}
.footer__text{
  color: var(--secundary);
}

@media (max-width: 600px) {
  .footer__text{
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}

.footer__us{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media (max-width: 600px) {
  .footer__us{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}
.footer__final{
  background-color: var(--principal);
  margin-top: 2rem;
  margin-left: -7rem;
  margin-right: -7rem;
}


@media (max-width:450px) {
  .footer__final{
    padding: 1rem;
    margin-left: -2rem;
    margin-right: -2rem;
  }
}


.footer__name{
  color: white;
  font-size: 1rem;
  font-weight: normal;
  justify-content: center;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.centering {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  width: 15rem;
}

.button__enviar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: var(--principal);
  color: white;
  border-radius: 2px;
  width: 100px;
  height: 30px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  margin-top: 1rem;
  margin-bottom: 1rem;
  gap: 2rem;
  border-radius: 1.5rem;
  border: 0.5px solid var(--secundary);
  text-decoration: none;
}

.button__enviar:hover {
  background-color: #2a3554;
}

.shop__principal{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 7rem;
  margin-bottom: 0rem;
}

.colleciones__principal{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 14rem;
  margin-bottom: -2rem;
}

.footer__nosotrxs{
  color: var(--principal);
  font-size: 2rem;
  font-weight: 600;
  justify-content: center;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.us__text{
  display: flex;
  flex-direction: row;
  margin-top: 2rem;
  gap: 5rem;
}

.us__text{
  max-width: 50%;
  line-height: 1.3rem;
  color: var(--secundary);
  font-size: 1.1rem;
  font-weight: 400;
  text-align:justify;
  padding-top: 1rem;
  margin-left: 2rem;
  margin-right: 2rem;
}

.footer__us-text{
  margin-top: 2rem;
  gap: 5rem;
  font-size: 1.3rem;
  font-weight: 600;
  color: var(--principal);
}

.footer__us-text {
  color: var(--principal);
  border-bottom: 2px solid transparent;
  transition: all 0.3s ease;
  text-decoration: none;
  font-weight: 500;
  background-image: linear-gradient(to right,
          var(--secundary),
          var(--secundary) 50%,
          var(--principal) 50%);
  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block;
  padding: 3px 0;
  position: relative;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.2s ease-in-out;    
}

.footer__us-text:before {
  content: '';
  background: var(--secundary);
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  transition: all 0.2s ease-in-out;
}

.footer__us-text:hover {
  background-position: 0;
}

.footer__us-text:hover::before {
  width: 100%;
}

.us__authors{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: -2rem;
  padding-bottom: 5rem;
  padding-left: 5rem;
  padding-right: 5rem;
}
.us__author{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-left: 2rem;
  margin-right: 2rem;
}
.us__author__img{
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  transition: transform 0.3s;
  object-fit: cover; 
}

.us__author__img::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--principal); 
  mix-blend-mode: color; 
  opacity: 0; 
  transition: opacity 0.3s;
}

.us__author__img:hover::before {
  opacity: 0.7;
}

.us__author__img:hover {
  transform: scale(1.15); 
}

.us__author__img::before {
  opacity: 0;
  transition: opacity 0.3s;
}

.us__author__img:hover::before {
  opacity: 0.7;
}

.us__author__content{
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: justify;
  justify-content: center;
  margin-left: 3rem;
}
.us__author__name{
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--principal);
  padding-bottom: 1rem;
}
.us__author__text{
  font-size: 1rem;
  font-weight: 400;
  color: var(--secundary);
  text-align:justify;
}

.footer__us__line{
  align-items: flex-start;
  justify-content: left;
  text-align: left;
  margin-top: 3rem;
  margin-bottom: 7rem;
  color: var(--principal);
  border-bottom: 1px solid var(--principal);
  width: 20%;
}

.colabora__principal{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10rem;
  margin-bottom: 4rem;
}

.colabora__principal__title{
  align-items: flex-start;
  justify-content: center;
  text-align: center;
  padding-top: 4rem;
  font-size: 1rem;
  font-weight: 600;
  color: var(--principal);
}
.colabora__principal__text{
  width: 50%;
  align-items: flex-start;
  justify-content: left;
  text-align: left;
  padding-top: 2rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.35rem;
  color: var(--secundary);
}
.colabora__principal__list{
  list-style-type:circle;
  padding-left: 1rem;
  display: flex;
  flex-direction:column;
  margin-bottom: 2rem;
  gap: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.ul li {
  color: var(--principal); 
  font-weight: 600;
}



.contact__container {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 2fr));
  padding: 1.5rem;
}

@media (max-width: 770px) {
  .contact__container{
    display: flex;
    flex-direction: column;

  }
}

.section {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}



.form {
  padding-right: 3rem;
}

@media (max-width: 770px) {
  .form{
    padding-right: 0rem;
    width: 340px;
  }
}

.form__title {
  text-align: center;
  color: var(--secundary);
  font-weight: 600;
  font-size: 2rem;
  margin: 0 0 0.5rem;
}

.form__description {
  color: var(--principal);
  text-align: center;
  margin: 0 0 32px;
}

.form__animation {
  background-color: white;
  border-radius: 1.5rem;
  overflow: hidden;
}

@media (max-width: 770px) {
  .form__animation{
    display: none;
  }
}

form {
  width: 100%;
  max-width: 30rem;
}

.form-control__label {
  display: block;
  margin: 0.875rem 0 0.25rem;
  color: var(--secundary);
  font-weight: 500;
}

.form-control {
  height: 2.5rem;
  display: block;
  width: 100%;
  border: 1px solid var(--principal);
  padding: 0.75rem 0.833rem;
  transition: outline 200ms ease, box-shadow 200ms ease;
  border-radius: 0.75rem;
  outline: none;
  background-color: #fff;
  color: var(--secundary);
  margin-bottom: 1.75rem;
  font-size: 1rem;
}

.form-control:focus {
  border-color: var(--principal);
  box-shadow: 0 0 0 0.167rem rgb(176, 176, 247);
}

.form-control-msg{
  height: 10rem;
  display: block;
  width: 100%;
  border: 1px solid var(--principal);
  padding: 0.75rem 0.833rem;
  transition: outline 200ms ease, box-shadow 200ms ease;
  border-radius: 0.75rem;
  outline: none;
  background-color: #fff;
  color: var(--secundary);
  margin-bottom: 1.75rem;
  font-size: 1rem;
}

.form-control-msg:focus {
  border-color: var(--principal);
  box-shadow: 0 0 0 0.167rem rgb(176, 176, 247);
}


.form__submit {
  margin-top: 1rem;
  height: 2rem;
  width: 100%;
  display: block;
  background:var(--principal);
  border-radius: 2rem;
  border: none;
  color: #fff;
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.2s;
}

.form__submit:hover {
  box-shadow: 0 -0.063rem 0.625rem var(--secundary);
}

.ball {
  width: 18.75rem;
  height: 18.75rem;
  padding: 0.063rem;
  border-radius: 100%;
  background: var(--principal);
  animation: bounce 3s ease-out forwards;
  transform: translateY(calc(-50vh - 4.625rem));
}

@keyframes bounce {
  5% {
    height: 18.75rem;
    width: 18.75rem;
  }
  10% {
    height: 18.75rem;
    width: 17.5rem;
  }
  15% {
    height: 17.5rem;
    width: 20rem;
    transform: translateY(0);
  }
  20%{
    height: 18.75rem;
    width: 20rem;
  }
  25% {
     transform: translateY(-12.5rem);
  }
  30% {
    height: 18.75rem;
    width: 18.75rem;
  }
  35% {
    height: 18.75rem;
    width: 17.5rem;
  }
  40% {
    height: 17.5rem;
    width: 20rem;
    transform: translateY(0);
  }
  45%{
    height: 18.75rem;
    width: 20rem;
  }
  50% {
     transform: translateY(-10rem);
  }
  55% {
    height: 18.75rem;
    width: 18.75rem;
  }
  60% {
    height: 18.75rem;
    width: 17.5rem;
  }
  65% {
    height: 17.5rem;
    width: 20rem;
    transform: translateY(0);
  }
  70%{
    height: 18.75rem;
    width: 20rem;
  }
  75% {
     transform: translateY(-3.75rem);
  }
  80% {
    height: 18.75rem;
    width: 17.5rem;
  }
  85% {
    height: 17.5rem;
    width: 20rem;
    transform: translateY(-1.25rem);
  }
  90%{
    height: 18.75rem;
    width: 20rem;
  }
  100% {
     transform: translateY(0);
  }
}

.ball__eyes {
  display: flex;
  gap: 3.75rem;
  margin-top: 3.125rem;
  padding-left: 4rem;
  padding-top: 2rem;
}

.eye {
  background: #fff;
  width: 1.875rem;
  height: 1.875rem;
  border-radius: 100%;
  padding: 0.188rem;
  display: block;
}

.eye:before {
  content: "";
  width: 0.938rem;
  height: 0.938rem;
  background: #000;
  border-radius: 100%;
  display: block;
}

.ball__mouth {
  padding-top: 4rem;
  width: 1.875rem;
  height: 1.875rem;
  border-radius: 100%;
  background: #000;
  margin: 0.625rem auto;
  clip-path: polygon(100% 50%, 100% 100%, 0 100%, 0 50%);
  transition: 0.3s;
}

.eye_wrap {
  overflow: hidden;
  animation: blink 5s infinite;
  width: 1.875rem;
  height: 1.875rem;
  transition: 0.3s;;
}

#face, #ball {
  transition: 0.3s;
}

#ball.sad .eye_wrap:first-child {
  clip-path: polygon(67% 0, 100% 0, 100% 50%, 100% 100%, 0 100%, 0% 50%);
}

#ball.sad .eye_wrap:last-child {
  clip-path: polygon(0 0, 43% 0, 100% 50%, 100% 100%, 0 100%, 0% 50%);
}

#ball.sad .ball__mouth {
  transform: scaleY(-1.05);
}

#ball.sad {
  animation: shake 1.5s;
}

@keyframes shake {
  0% {
      transform: rotateY(0);
  }
  25% {
      transform: rotateY(-15deg);
  }
  50% {
      transform: rotateY(15deg);
  }
  100% {
      transform: rotateY(0);
  }
}

@keyframes blink {
  0%, 100% {
      transform: scale(1, 0.05);
  }
  5%,
  95% {
      transform: scale(1, 1);
  }
}

.ball__shadow {
  background: rgb(0 0 0 / 5%);
  box-shadow: 0 0 0.625rem rgb(0 0 0 / 6%);
  height: 0.625rem;
  width: 7.5rem;
  border-radius: 50%;
  transform: scale(0.1);
  animation: shrink 3s forwards;
}

@keyframes shrink {
  5%, 25%, 50%, 75% {
    transform: scale(0.1);
  }
  15%, 40%, 65%, 100% {
    transform: scale(1.1);
  }
}

#ball.look_at {
  transform: rotate(-17deg);
}

@media (max-width: 48rem) {
  .form__animation {
    position: fixed;
    background: none;
    right: 0;
    bottom: 0;
  }

  .form__title {
    font-size: 1.75rem;
  }

  .ball {
    width: 6.25rem;
    height: 6.25rem;
    animation: roll_out 1s ease-out forwards;
    transform: translate(6.875rem, 0);
  }

  @keyframes roll_out {
    0% {
      transform: translate(6.875rem, 0) rotate(0);
    }
    100% {
      transform: translate(0, 0) rotate(-360deg);
    }
  }

  .ball__eyes {
    gap: 1.5rem;
    margin-top: 3rem;
  }

  .ball__mouth {
    width: 1.25rem;
    height: 1.25rem;
    margin: -0.063rem auto;
  }

  .eye, .eye_wrap {
    width: 1.25rem;
    height: 1.25rem;
  }
  .eye:before {
    width: 0.625rem;
    height: 0.625rem;
  } 

  .ball__shadow {
    display: none;
  }

  main {
    display: block;
    padding: 2.5rem 1rem;
  }

  .form {
    padding: 0;
    height: 100%;
  }

  .form__description {
    margin-bottom: 1rem;
  }
  
  #face {
    transform: none !important;
  }
}

.box {
  max-width: 25rem; 
  max-width: 100%;
  display: grid;
  place-items: center;
  border-radius: 1.5rem; 
  color: white;
  margin-top: 0.5rem;
}

@media (max-width: 600px) {
  .box{
    display: none;
  }
}

.search {
  margin-top: -1.5rem;
  position: relative;
  width: 2.5rem; 
  height: 2.5rem; 
  border-radius: 2.5rem; 
  padding: 0.625rem; 
  cursor: pointer;
  background-repeat: no-repeat;
  font-size: 1rem;
  color: white;
  border: 0.1875rem solid var(--primary); 
  transition: width 300ms, background-position 300ms;
  overflow: hidden;
  background: url(search-bold.svg) no-repeat transparent;
  background-size: 2rem; 
  background-position: 45% 50%;

} 

.search:hover {
  cursor: pointer;
  border: 0.1875rem solid var(--primary); 
  background: url(search-bold.svg) no-repeat transparent;
  background-size: 2rem; 
  background-position: 45% 50%;
  color: white;

}

.search:focus, .search:not(:placeholder-shown) {
  max-width: 15rem;
  width: 100%;
  cursor: text;
  color: white;
  padding-left: 3.75rem;
  outline: none;
  transition: width 500ms, background-position 300ms;
  border: 1px solid white; 
  background-color: white;
  background: url(search-bold.svg) no-repeat;
  background-size: 2rem; 
  background-position: 0.625rem 50%; 
}